@model PojisteniApp2.Models.Insurance

@{
    ViewData["Title"] = "Odstranění pojištění";
}

<h3>Odstranit vybrané pojištění?</h3>
<div id="local-style" class="mt-4">
    <div class="row">
        <div class="col col-lg-5 col-xxl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    @Html.DisplayNameFor(model => model.InsuranceType)
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.InsuranceType.InsuranceTypeName)
                </dd>
            </dl>
        </div>
        <div class="col col-lg-5 col-xxl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    @Html.DisplayNameFor(model => model.InsuranceAmount)
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.InsuranceAmount)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-5 col-xxl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    @Html.DisplayNameFor(model => model.InsuranceSubject)
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.InsuranceSubject)
                </dd>
            </dl>
        </div>
        <div class="col col-lg-5 col-xxl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    Platnost
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.ValidFrom)<span class="fw-normal"> - </span>@Html.DisplayFor(model => model.ValidTo)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-5 col-xxl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    @Html.DisplayNameFor(model => model.Person)
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.Person.FullNameWithAddress)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Delete">
                <input type="hidden" asp-for="InsuranceId" />
                <input type="submit" value="Odstranit" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>

@* Make <dt> element font normal and <dd> element font bold *@
<script>
    const elementDiv = document.getElementById("local-style");
    const elementsDt = elementDiv.getElementsByTagName("dt");
    const elementsDd = elementDiv.getElementsByTagName("dd");
    for (const element of elementsDt) {
        element.classList.add("fw-normal");
    }
    for (const element of elementsDd) {
        element.classList.add("fw-bold");
    }
</script>
