@model PojisteniApp2.Models.Insurance

@{
    ViewData["Title"] = "Detail pojištění";
}

<h1>@ViewData["Title"]</h1>
<div id="local-style" class="mt-4">
    <div class="row">
        <div class="col col-lg-5 col-xl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    @Html.DisplayNameFor(model => model.InsuranceType)
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.InsuranceType.InsuranceTypeName)
                </dd>
            </dl>
        </div>
        <div class="col col-lg-5 col-xl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    @Html.DisplayNameFor(model => model.InsuranceAmount)
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.InsuranceAmount)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-5 col-xl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    @Html.DisplayNameFor(model => model.InsuranceSubject)
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.InsuranceSubject)
                </dd>
            </dl>
        </div>
        <div class="col col-lg-5 col-xl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    Platnost
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.ValidFrom)<span class="fw-normal"> - </span>@Html.DisplayFor(model => model.ValidTo)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-5 col-xl-4">
            <dl class="row">
                <dt class="col-12 col-md-auto">
                    @Html.DisplayNameFor(model => model.Person)
                </dt>
                <dd class="col-12 col-md">
                    @Html.DisplayFor(model => model.Person.FullNameWithAddress)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col">
			<a asp-controller="People" asp-action="Details" class="btn btn-primary" asp-route-id="@Model?.PersonId">Detail pojištěnce</a>
			<a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.InsuranceId">Editovat</a>
        </div>
    </div>
</div>

@* Make <dt> element font normal and <dd> element font bold *@
<script>
    const elementDiv = document.getElementById("local-style");
    const elementsDt = elementDiv.getElementsByTagName("dt");
    const elementsDd = elementDiv.getElementsByTagName("dd");
    for (const element of elementsDt) {
        element.classList.add("fw-normal");
    }
    for (const element of elementsDd) {
        element.classList.add("fw-bold");
    }
</script>