@using PojisteniApp2.Helpers;

@model PaginatedList<PojisteniApp2.Models.Insurance>

@{
    ViewData["Title"] = "Pojištění";
}
<div class="row">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row mt-2">
    <div class="col col-sm-3">
        <a asp-action="Create" class="btn btn-primary">Nové pojištění</a>
    </div>
    <div class="col col-sm-9 d-flex justify-content-end">
        <partial name="_SearchPartial" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID Pojištění
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PersonSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="text-black">Pojištěnec</a>
            </th>
            <th>
                Typ pojištění
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="text-black">Částka</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ValidFromSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="text-black">Platnost od</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ValidToSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="text-black">Platnost do</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.InsuranceId">@Html.DisplayFor(modelItem => item.InsuranceId)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FullNameWithAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceType.InsuranceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td class="text-end">
                <a asp-action="Edit" class="btn btn-warning mb-1" asp-route-id="@item.InsuranceId">Editovat</a>
                <a asp-action="Delete" class="btn btn-danger mb-1" asp-route-id="@item.InsuranceId">Odstranit</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PaginationPartial" />