@using PojisteniApp2.Helpers;

@model PaginatedList<PojisteniApp2.Models.Insurance>

@{
    ViewData["Title"] = "Pojištění";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nové pojištění</a>
</p>

<partial name="_SearchPartial" />

<table class="table">
    <thead>
        <tr>
            <th>
                ID Pojištění
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PersonSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Pojištěnec</a>
            </th>
            <th>
                Typ pojištění
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Částka</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ValidFromSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Platnost od</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ValidToSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Platnost do</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.InsuranceId">@Html.DisplayFor(modelItem => item.InsuranceId)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FullNameWithAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceType.InsuranceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.InsuranceId">Editovat</a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.InsuranceId">Odstranit</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PaginationPartial" />