@model IEnumerable<PojisteniApp2.Models.Insurance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nové pojištění</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.InsuranceId">@Html.DisplayFor(modelItem => item.InsuranceId)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FullNameWithAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceType.InsuranceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InsuranceId">Editovate</a> |
                <a asp-action="Delete" asp-route-id="@item.InsuranceId">Odstranit</a>
            </td>
        </tr>
}
    </tbody>
</table>
