@model PojisteniApp2.Models.Statistics

@{
    ViewData["Title"] = "Domovská stránka";
}

<div id="home-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        @*Shows 3 buttons if no user logged in, 2 buttons if user is logged in. The same logic applied to carousel pictures.*@
        @if (ViewBag.ShowLoginRequest)
        {
            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        }
    </div>
    <div class="carousel-inner">
        @if (ViewBag.ShowLoginRequest)
        {
            <div class="carousel-item @ViewBag.Slide1Active">
                <img class="d-block w-100 img-fluid" src="~/images/img-shared-database.jpg" alt="Sdílená databáze">
                <div class="container">
                    <div class="carousel-caption bg-dark bg-opacity-50 rounded-3">
                        <h1>Společná databáze</h1>
						<p class="lead">Využij příležitost a sdílej s kolegy data o svých klientech. Díky nové aplikaci je to snažší než kdy dříve.</p>
                        <p><a asp-controller="Account" asp-action="login" class="btn btn-lg btn-primary">Přihlásit se</a></p>
                    </div>
                </div>
            </div>
        }
        <div class="carousel-item @ViewBag.Slide2Active">
            <img class="d-block w-100 img-fluid" src="~/images/img-insured-person.jpg" alt="Pojištěnci">
            <div class="container">
                <div class="carousel-caption bg-dark bg-opacity-50 rounded-3">
                    <h1>Naši klienti</h1>
                    @if (@Model.PersonCount > 0)
                    {
                        <p class="lead">Dobrá práce, evidujeme již @Model.PersonCount pojištěnců. S takovou bude brzy Inshuro největší pojišťovna v Asii!</p>
                    }
                    else
                    {
                        <p class="lead">Zatím nemáme v databázi žádného pojištěnce. Buď první kdo zaeviduje své klienty!</p>
                    }
                    <p><a asp-controller="People" asp-action="Create" class="btn btn-lg btn-primary">Přidat pojištěnce</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="~/images/img-insurance.jpg" alt="Pojištění">
            <div class="container">
                <div class="carousel-caption bg-dark bg-opacity-50 rounded-3">
                    <h1>Prodaná pojištění</h1>
                    @if (@Model.InsuranceCount > 0)
                    {
                        <p class="lead">Uzavřeli jsme již @Model.InsuranceCount pojištění. Nejvyšší limit plnění je @Model.MaxInsuranceLimit Kč, dokážeš ho překonat?</p>
                    }
                    else
                    {
                        <p class="lead">Žádné uzavřené smlouvy? Tomu nevěříme. Doplň klientům jejich pojištění a vyhraj v soutěži o nejvyšší limit plnění.</p>
                    }
                    <p><a asp-controller="Insurances" asp-action="Create" class="btn btn-lg btn-primary">Uzavřít pojištění</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Předchozí</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Další</span>
    </button>
</div>