@using System.Web;

@model PojisteniApp2.Models.Person

@{
    ViewData["Title"] = "Odstranění pojištěnce";
}

<div class="row bg-dark bg-opacity-50 py-3 ps-4 pe-2 d-flex">
    <div class="col-auto text-white d-flex align-items-center">
        <h1>Smazat pojištěnce?</h1>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
        <form asp-action="Delete">
            <input type="hidden" asp-for="PersonId" />
            <span class="disabled-title-wrapper">
                <button type="submit" class="btn btn-lg btn-danger @ViewBag.Disabled" tabindex="1"><i class="fa-solid fa-trash-can"></i></button>
            </span>
        </form>
    </div>
</div>
<div class="row dl-local-style bg-light py-2 py-md-4 px-3 px-md-5 mt-1 text-center text-sm-start">
    <div class="col-12 col-sm-auto me-2 me-md-4 mb-3 mb-sm-0">
        <img src="@ViewBag.ImageDataUrl" class="img-fluid img-profile" />
    </div>
    <dl class="col-12 col-sm-auto d-flex flex-column justify-content-evenly m-0">
        @* <div> to keep elements always together *@
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName) a @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @* To display email as plain text without hyperlink *@
                @Html.Raw(HttpUtility.HtmlEncode(Model?.Email))
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
        </div>
    </dl>
    <dl class="col-12 col-sm-auto d-flex flex-column justify-content-evenly m-0">
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
        </div>
        <div>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
        </div>
    </dl>
</div>