@using PojisteniApp2.Helpers;

@model PaginatedList<PojisteniApp2.Models.Person>

@{
    ViewData["Title"] = "Pojištěnci";
}
<div class="row bg-dark bg-opacity-50 py-3 ps-4 pe-2 d-flex">
	<div class="col-auto text-white">
		<h1>@ViewData["Title"]</h1>
	</div>
	<div class="col text-end d-flex align-items-center justify-content-end">
        <a asp-action="Create" class="btn btn-lg btn-primary"><i class="fa-solid fa-user-plus"></i></a>
	</div>
</div>
<div class="row bg-light py-2 py-md-4 px-3 px-md-5 mt-1">
	<div class="col-12">
		<partial name="_SearchPartial" />
	</div>
    <div class="col-12">
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="text-black">Celé jméno</a>
                    </th>
                    <th>
                        Bydliště
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="window.location.href = '@Url.Action("Details", "People", new { id = item.PersonId })'">
                        <td>
                            <span class="text-capitalize">@Html.DisplayFor(modelItem => item.FullName)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td class="text-end">
                            <a asp-action="Edit" class="btn btn-outline-secondary mb-1" asp-route-id="@item.PersonId"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Delete" class="btn btn-outline-secondary mb-1" asp-route-id="@item.PersonId"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_PaginationPartial" />
    </div>
</div>