@using PojisteniApp2.Helpers;

@model PaginatedList<PojisteniApp2.Models.Person>

@{
    ViewData["Title"] = "Pojištěnci";
}
<div class="row">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row mt-2">
    <div class="col col-sm-3">
        <a asp-action="Create" class="btn btn-primary">Nový pojištěnec</a>
    </div>
    <div class="col col-sm-9 d-flex justify-content-end">
        <partial name="_SearchPartial" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="text-black">Celé jméno</a>
            </th>
            <th>
                Bydliště
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.PersonId" class="text-capitalize">@Html.DisplayFor(modelItem => item.FullName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="text-end">
                <a asp-action="Edit" class="btn btn-warning mb-1" asp-route-id="@item.PersonId">Editovat</a>
                <a asp-action="Delete" class="btn btn-danger mb-1" asp-route-id="@item.PersonId">Odstranit</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_PaginationPartial" />