@model IEnumerable<PojisteniApp2.Models.InsuranceType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InsuranceTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InsuranceTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InsuranceTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
