@model IEnumerable<PojisteniApp.Models.Person>

@{
    ViewData["Title"] = "Klienti";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Nový klient</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.PersonId">@Html.DisplayFor(modelItem => item.FullName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Editovat</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Odstranit</a>
            </td>
        </tr>
}
    </tbody>
</table>
